/* src/pages/RegisterLogin.css */

  
/* 각 페이지의 CSS 파일에 추가 */
.register-container {
  max-width: 2000px;   /* 최대 너비 설정 */
  margin: 0px auto;  /* 중앙 정렬 */
  padding: 20px;       /* 내부 여백 */
  background-color: transparent;
  border-radius: 12px;
  /*box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);*/
  text-align: center;
}

.register-background {
  width: 100%;                 /* 전체 너비 */
  height: 100%;                /* 전체 높이 */
  background-size: cover;      /* 배경 이미지가 커버하도록 */
  background-position: center;  /* 중앙에 배치 */
}


.content {
  margin-top: 10px;  /* 네비게이션 바 높이만큼 하단 여백 추가 */
}

/* 버튼 및 폼 관련 스타일 */
.toggle-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.toggle-button {
  padding: 20px 40px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: #ddd;
  color: #333;
  margin: 0 5px;
  border-radius: 8px;
  transition: background-color 0.3s;
  width: auto;
  min-width: 150px;
}

.toggle-button.active {
  background-color: #2855d8; /* 활성 상태 색상 */
  color: white;
}
  .toggle-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .toggle-button {
    padding: 15px 100px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background-color: #ddd;
    color: #333;
    margin: 0 5px;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  .toggle-button.active {
    background-color: #2855d8; /* 带有蓝色调的深蓝 */
    color: white;
  }
  
  .register-container form {
    display: flex;
    flex-direction: column;
  }
  
  .register-container label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .register-container input {
    width: 100%;
    padding: 15px 100px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .register-container button {
    width: 100%;
    margin-top: 20px;
    padding: 15px 70px;
    background-color: #2855d8;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .register-container button:hover {
    background-color: cornflowerblue;
  }
  