.navbar {
    background-color: transparent; /* 배경을 투명하게 설정 */
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    width: 100%;
    position: relative; /* 배경 설정을 위해 상대적 */
}

.navbar a {
    text-decoration: none;
}

.navbar i {
    color: black; /* 기본 아이콘 색상 */
    font-size: 24px; /* 아이콘 크기 */
}

.navbar i.active {
    color: #007BFF; /* 홈이 아닐 때 파란색으로 변경 */
}

.navbar i:hover {
    color: #0056b3; /* 호버 시 더 어두운 색상 */
}