/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.App {
  text-align: center;
}

.navbar {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  width: 100%;
  position: relative;
  font-family: "Arial Rounded MT Bold", Arial, sans-serif; /* 圆润的字体 */
  font-weight: bold; /* 加粗文字 */
}

.navbar a {
  text-decoration: none;
  color: rgb(40,84,216); /* 使用指定的蓝色 */
  font-size: 18px; /* 字体适当放大一些，让其更清晰 */
  transition: color 0.3s;
}

.navbar a:hover {
  color: rgba(40,84,216, 0.8); /* 悬停时稍微变浅 */
}

.navbar i {
  color: rgb(40,84,216);
  font-size: 24px;
}

.navbar i.active {
  color: rgb(40,84,216);
}

.navbar i:hover {
  color: rgba(40,84,216, 0.8);
}